<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UoP_Telemetry_GUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UoP_Telemetry_GUI.My.MySettings>
            <setting name="BMS_CellRange_Min" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BMS_CellRange_Max" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BMS_VoltageRange_Min" serializeAs="String">
                <value>2.8</value>
            </setting>
            <setting name="BMS_VoltageRange_Max" serializeAs="String">
                <value>4.2</value>
            </setting>
            <setting name="BMS_Coloring_High" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="BMS_Coloring_Low" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BMS_Coloring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStartLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="CAN_Binary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CAN_Decimal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CAN_Hex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CAN_Warn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLogSemicolon" serializeAs="String">
                <value>False</value>
            </setting>
        </UoP_Telemetry_GUI.My.MySettings>
    </userSettings>
</configuration>